################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/BuildProcessTemplates
/.vs
/$tf
/TOPSDK CORE/bin
/TOPSDK CORE/.vs/TOPSDK CORE
/TOPSDK CORE/obj
/TOPSDK.vssscc
/TOPSDK CORE/TOPSDK CORE.csproj.vspscc
