################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/BuildProcessTemplates
/.vs
/$tf
/TOPSDK CORE/.vs/TOPSDK CORE
*.vssscc
/TOPSDK CORE/TOPSDK CORE.csproj.vspscc
/TOPSDK CORE/bin/x64/Debug/netcoreapp2.2
/TOPSDK CORE/bin/Release/netcoreapp2.2
/TOPSDK CORE/bin/Debug/netcoreapp2.2
/TOPSDK CORE/obj/x64
/TOPSDK CORE/obj/TOPSDK CORE.csproj.nuget.g.targets
/TOPSDK CORE/obj/TOPSDK CORE.csproj.nuget.g.props
/TOPSDK CORE/obj/TOPSDK CORE.csproj.nuget.cache
/TOPSDK CORE/obj/Release/netcoreapp2.2
/TOPSDK CORE/obj/project.assets.json
/TOPSDK CORE/obj/Debug/netcoreapp2.2
